.container{
    display: flex;
    justify-content: center;
    
}

.container > div {
    padding: 10px 50px;
    width: 500px;

}

.title{
  padding: 10px 0;
  font-size: 1.4em;
  text-align: left;
  font-weight: bold;
}

.legend{
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  padding: 10px 0;
}

.container_radios{
  display: flex;
  flex-direction: column;
}

.form_control {
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.1;
  display: flex;
  align-items: center;
  width: 15%;
  margin-bottom: 1em;
  cursor: pointer;
}

.radio {
  width: 2em;
  height: 2em;
}

.container_buttons{
  margin-top: 1em;
  display: flex;
  justify-content: right;
}

.container_buttons > div{
  display: flex;
  justify-content: space-between;
  width: 62%;
}
