.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .container > div {
    display: inline-block;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  
  .container table {
    width: 100%;
    margin-top: 30px;
  }
  
  .btn_editar {
    background: #fff;
    border: 0.1em solid rgb(236, 202, 6);
    width: 80px;
    margin-left: 0.5em;
    border-radius: 3px;
    font-size: 0.8em;
    padding: 5px 10px;
    color: rgb(236, 202, 6);
    cursor: pointer;
    transition: all 0.15s;
  }
  
  .btn_editar:hover {
    background: rgb(236, 202, 6);
    color: #fff;
  }
  
  .btn_eliminar {
    background: #fff;
    border: 0.1em solid rgb(250, 7, 7);
    width: 80px;
    margin-left: 0.5em;
    border-radius: 3px;
    font-size: 0.8em;
    padding: 5px 10px;
    color: rgb(250, 7, 7);
    cursor: pointer;
    transition: all 0.15s;
  }
  
  .btn_eliminar:hover {
    background: rgb(250, 7, 7);
    color: #fff;
  }
  