.container_logo{
    /* height: 100px; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container_inputs{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container_buttons{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container_buttons > div{
    height: 60px;
    display: flex;
    align-items: center;
}

.forget{
    cursor: pointer;
}