.button {
    background: rgb(36, 188, 237);
    /* border: .1em solid rgb(79, 65, 163);  */
    border: 0.1em solid rgb(36, 188, 237);
    border-radius: 5px;
    width: 100%;
    height: 50px;
    padding: 15px;
    color: rgb(250, 250, 250);
    cursor: pointer;
    transition: all 0.15s;
  }
  
  /* .button:hover{
      background: rgb(79, 65, 163);
      color: #fff;
  } */