.button {
  padding: 8px;
  width: 130px;
  font-size: 1.05em;
  border-radius: 6px;
  border: 0.1em solid #fff;
  background: rgb(79, 65, 163);
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
